# THIS DOCKER-COMPOSE FILE IS FOR DEVELOPMENT AND IMAGE-BUILDING PURPOSES ONLY. IT IS NOT REPLESENT HOW TO RUN ENTIRE OAAS PLATFORM.

services:

  crm:
    deploy:
      replicas: 0
    build:
      context: .
      dockerfile: build/Dockerfile
      args:
        APP_NAME: oprc-crm
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    image: ${IMAGE_PREFIX}/crm:${IMAGE_VERSION}
    environment:
      RUST_LOG: INFO
      HTTP_PORT: 80

  pm:
    deploy:
      replicas: 0
    build:
      context: .
      dockerfile: build/Dockerfile.pm-with-gui
      args:
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    image: ${IMAGE_PREFIX}/pm:${IMAGE_VERSION}
    environment:
      HTTP_PORT: 80
      RUST_LOG: INFO

  router:
    deploy:
      replicas: 1
    build:
      context: .
      dockerfile: build/Dockerfile
      args:
        APP_NAME: oprc-router
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    image: ${IMAGE_PREFIX}/router:${IMAGE_VERSION}
    # network_mode: "host"
    ports:
      - "7447:7447"
    environment:
      OPRC_LOG: "INFO"
      OPRC_ZENOH_PORT: "7447"
      OPRC_ZENOH_ADMINSPACE_ENABLED: "true"
  
  gateway:
    deploy:
      replicas: 1
    build:
      context: .
      dockerfile: build/Dockerfile
      args:
        APP_NAME: oprc-gateway
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    image: ${IMAGE_PREFIX}/gateway:${IMAGE_VERSION}
    depends_on:
      - router
    ports:
      - "8080:8080"
    environment:
      RUST_LOG: "info,h2=warn"
      OPRC_GW_HTTP_PORT: "8080"
      OPRC_GW_REQUEST_TIMEOUT_MS: "30000"
      OPRC_GW_MAX_PAYLOAD_BYTES: "4194304"
      OPRC_GW_RETRY_ATTEMPTS: "0"
      OPRC_ZENOH_MODE: "peer"
      OPRC_ZENOH_PEERS: "tcp/router:7447"
      OPRC_ZENOH_PORT: "7447"

  odgm-1: &odgm
    build:
      context: .
      dockerfile: build/Dockerfile
      args:
        APP_NAME: oprc-odgm
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    deploy:
      resources:
        reservations:
          cpus: "8"
        limits:
          cpus: "8"
    image: ${IMAGE_PREFIX}/odgm:${IMAGE_VERSION}
    # network_mode: "host"
    # ports:
    #   - "18001:8080"
    environment: &odgm_env
      ODGM_LOG: INFO,oprc_odgm=debug,openraft=info,zenoh=info,h2=warn
      ODGM_NODE_ID: 1
      ODGM_MAX_SESSIONS: 4
      ODGM_MEMBERS: "1,2,3"
      OPRC_ZENOH_PEERS: "tcp/router:7447"
      ODGM_COLLECTION: |
        [
          {"name":"example.record","partition_count":1,"replica_count":3,"shard_assignments":[], "shard_type":"raft",
          "invocations": {
            "fn_routes": {
              "echo": {"url":"http://echo-fn", "stateless": true, "standby": false, "active_group": []},
              "random": {"url":"http://random-fn", "stateless": false, "standby": false, "active_group": []},
              "random_str": {"url":"http://random-str-fn", "stateless": false, "standby": false, "active_group": []},
              "log": {"url":"http://num-log-fn", "stateless": false, "standby": false, "active_group": []}
            }
          },
          "options":{}}
        ]
    

  odgm-2:
    <<: *odgm
    environment: 
      <<: *odgm_env
      ODGM_NODE_ID: 2  

  odgm-3:
    <<: *odgm
    environment: 
      <<: *odgm_env
      ODGM_NODE_ID: 3

  echo-fn:
    build:
      context: .
      dockerfile: build/Dockerfile
      args:
        APP_NAME: dev-echo-fn
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    image: ${IMAGE_PREFIX}/echo-fn:${IMAGE_VERSION}
    ports:
      - "10001:80"
    environment:
      HTTP_PORT: 80
      RUST_LOG: "info,h2=warn,zenoh=info"

      
  random-fn:
    build:
      context: .
      dockerfile: build/Dockerfile
      args:
        APP_NAME: dev-random-fn
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    image: ${IMAGE_PREFIX}/random-fn:${IMAGE_VERSION}
    ports:
      - "10002:80"
    environment:
      HTTP_PORT: 80
      # RUST_LOG: "info,h2=warn,zenoh=info"
      RUST_LOG: "debug,h2=warn"

  random-str-fn:
    build:
      context: .
      dockerfile: build/Dockerfile
      args:
        APP_NAME: dev-random-str-fn
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    image: ${IMAGE_PREFIX}/random-str-fn:${IMAGE_VERSION}
    ports:
      - "10004:80"
    environment:
      HTTP_PORT: 80
      # RUST_LOG: "info,h2=warn,zenoh=info"
      RUST_LOG: "debug,h2=warn"

  num-log-fn:
    build:
      context: .
      dockerfile: build/Dockerfile
      args:
        APP_NAME: dev-num-log-fn
        BUILD_PROFILE: ${BUILD_PROFILE:-release}
    image: ${IMAGE_PREFIX}/num-log-fn:${IMAGE_VERSION}
    ports:
      - "10003:80"
    environment:
      HTTP_PORT: 80
      RUST_LOG: "info,h2=warn"
  