mode: deployment

image:
  repository: otel/opentelemetry-collector-contrib

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch: {}

  exporters:
    otlphttp/metrics:
      endpoint: http://vm-single-victoria-metrics-single-server.observability.svc.cluster.local:8428/opentelemetry
      tls:
        insecure: true
    
    otlphttp/logs:
      logs_endpoint: http://vm-logs-victoria-logs-single-server.observability.svc.cluster.local:9428/insert/opentelemetry/v1/logs
      tls:
        insecure: true

    otlphttp/traces:
      traces_endpoint: http://vm-traces-vt-single-server.observability.svc.cluster.local:10428/insert/opentelemetry/v1/traces
      tls:
        insecure: true

  service:
    pipelines:
      metrics:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlphttp/metrics]
      logs:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlphttp/logs]
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlphttp/traces]
